<div class="headerframe">
    <div class="headercontent">
        <h1 (click)="scrollToTop()">
            Simon
        </h1>

        <div class="linkcontainer">
            <a (click)="scrollToAbout()" class="hover-line">About me</a>
            <a (click)="scrollToSkills()" class="hover-line">Skills</a>
            <a (click)="scrollToProjects()" class="hover-line">Portfolio</a>
        </div>

        <input type="checkbox" name="" id="burger-menu-checkbox">
        <label for="burger-menu-checkbox" class="burger-menu">
            <img src="../../assets/foreground-elements/part-of-burger-menu.svg" alt=""
                *ngFor="let i of [].constructor(3); let index = index">
        </label>

    </div>

    <div class="menu-container">
        <div class="burger-menu-links">
            <a (click)="scrollToAbout()" class="hover-line">About me</a>
            <a (click)="scrollToSkills()" class="hover-line">Skills</a>
            <a (click)="scrollToProjects()" class="hover-line">Portfolio</a>
            <a (click)="scrollToContact()" class="hover-line">Contact</a>
        </div>
    </div>

</div>