.footer-frame {
    height: 291px;
    background-color: #141D2F;
    border-top: 4px solid #00BEE8;
}

.footer-content {
    display: flex;
    padding: 37px 100px;
    max-width: 1440px;
    height: calc(100% - 74px);
}
