<div class="footer-frame" id="footer">
    <div class="footer-content">
        <div>
            <h2>Simon</h2>
            <p (click)="changeRout()">Imprint</p>
        </div>
        <div>© Simon Esders 2023</div>
        <div>
            <a href="https://github.com/offSimonEsders" target="_blank"><img src="../../assets/icons/github-icon.svg" alt=""></a>
            <a href="mailto:contact@simon-esders.de" target="_blank"><img src="../../assets/icons/email-icon.svg" alt=""></a>
            <a href="https://linkedin.com/in/simon-esders-aab3662a3" target="_blank"><img src="../../assets/icons/linkedin-icon.svg" alt=""></a>
        </div>
    </div>
</div>