.footer-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 291px;
    background-color: #141D2F;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 37px 100px;
    max-width: 1720px;
    width: 100%;
    height: calc(100% - 78px);
    border-top: 4px solid #00BEE8;

    .legal-container {
        display: flex;
        flex-direction: row;

        p {
            cursor: pointer;
            margin: 0;
            font-size: 16px;

            &:hover {
                color: #00BEE8;
            }

        }
    }

    div {
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: white;

        &:nth-child(1) {
            h2 {
                margin: 0;
                font-size: 40px;
            }

        }

        &:nth-child(2) {
            font-size: 23px;
        }

        &:nth-child(3) {
            flex-direction: row;
            gap: 42px;

            a {
                transition: 150ms;

                &:hover {
                    scale: 1.2;
                }
            }

        }

    }

}