<div class="aboutme-frame">

    <div class="aboutme-content">

        <div class="aboutme-text">

            <h2>About me</h2>

            <p>
                Hi, I am a Front-end deverloper based in München, Germany(....)Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Ut auctor sem non tempus convallis. Integer et justo vitae urna finibus eleifend sit
                amet porttitor sapien. Donec sollicitudin massa vel lorem vestibulum efficitur.
            </p>

            <div class="personalthings-text">
                <img src="../../assets/background-elements/lightbulb-icon.svg" alt="">
                <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
            </div>

            <div class="personalthings-text">
                <img src="../../assets/background-elements/puzzlepiece-icon.svg" alt="">
                <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
            </div>

        </div>

        <div class="big-img-container">
            <img src="../../assets/my-images/test.png" alt="" class="big-front-img">
        </div>

    </div>

    <div class="curve-container">
        <img src="../../assets/foreground-elements/dark-curve.svg" alt="" class="curve-img">
    </div>


</div>