.aboutme-frame {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    max-height: 1440px;
    color: white;
    background-color: #141D2F;
}

.aboutme-content {
    display: flex;
    position: relative;
    max-width: 1740px !important;
    width: 100%;
    padding: 37px 100px;
}

.aboutme-text {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    width: 430px;
    flex-shrink: 0;
    gap: 35px;

    h2 {
        margin: 0;
        font-size: 90px;
    }

    p {
        margin: 0;
    }

}

.personalthings-text {
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.big-img-frame {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    z-index: 1;
}

.big-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 500px;
    width: 500px;
    overflow: hidden;
}

.big-ellips-img {
    width: 500px;
    height: 500px;
    z-index: 1;
}

.big-self-img {
    position: absolute;
    height: 500px;
    border-radius: 360px;
}

.background-decoration-img {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;

    img {
        filter: blur(46.5px);
    }
}

.blueshadow-img {
    position: absolute;
    rotate: 45deg;
}