.aboutme-frame {
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 100vh;
    color: white;
    background-color: #141D2F;
}

.aboutme-content {
    display: flex;
    position: relative;
    max-width: 1740px;
    width: 100%;
    padding: 37px 100px;
}

.aboutme-text {
    display: flex;
    position: absolute;
    flex-direction: column;
    top: 50%;
    transform: translateY(-50%);
    max-width: 430px;
    width: 100%;
    flex-shrink: 0;
    gap: 35px;

    h2 {
        margin: 0;
        font-size: 90px;
    }

    p {
        margin: 0;
    }

}

.personalthings-text {
    display: flex;
    flex-direction: row;
    gap: 35px;

    .lightbulb-icon {
        margin: 0 10px 0 4px;
    }

}

.big-img-frame {
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0px;
    z-index: 1;
}

.big-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 500px;
    width: 500px !important;
    overflow: hidden;
}

.big-ellips-img {
    width: 500px;
    height: 500px;
    z-index: 1;
}

.big-self-img {
    position: absolute;
    height: 500px;
    border-radius: 360px;
}

.background-decoration-img {
    display: flex;
    align-items: center;
    position: absolute;
    overflow: hidden;
    top: 50%;
    transform: translateY(-50%);
    right: 100px;
    filter: blur(46.5px);
}

.blueshadow-img {
    position: absolute;
    rotate: 45deg;
}

@media (max-width: 1400px) {

    .ellips-decoration {
        width: 50px;
    }

    .background-decoration-img {
        width: 650px;
        right: 0px;
    }

}

@media (max-width: 1100px) {

    .aboutme-content {
        padding: 37px 0;
        max-width: 1920px;
    }

    .big-img-frame {
        width: 400px;
        height: 400px;
        top: 37px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);

        .big-img-container {
            img {
                width: 400px;
                height: 400px;
            }
        }

    }

    .background-decoration-img {
        width: 400px;
        height: 400px;
        top: 37px;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

    .ellips-decoration {
        display: none;
    }

    .aboutme-text {
        bottom: 0;
        left: 50%;
        right: auto;
        transform: translateX(-50%);
    }

}

@media (max-width: 500px) {

    .aboutme-text {
        width: 280px !important;
        top: 370px;
        bottom: auto;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 50px);
        h2 {
            font-size: 45px;
        }
    }

    .big-img-frame {
        width: 280px !important;
        height: 280px !important;
    }

    .big-img-container {
        img {
            width: 280px !important;
            height: 280px !important;
        }
    }

    .background-decoration-img {
        width: 280px !important;
        height: 280px !important;
    }

}