<div class="aboutme-frame" id="aboutme">

    <div class="aboutme-content">

        <div class="aboutme-text">

            <h2>About me</h2>

            <p>
                Hello, I am a passionate frontend developer based in Meppen, Germany. I have been actively programming
                since 2022, initially as a personal endeavor. However, my fascination for programming quickly developed
                into a desire to pursue web development professionally.
            </p>

            <div class="personalthings-text">
                <img src="../../assets/background-elements/lightbulb-icon.svg" alt="" class="lightbulb-icon">
                <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
            </div>

            <div class="personalthings-text">
                <img src="../../assets/background-elements/puzzlepiece-icon.svg" alt="">
                <p>Some personal thing to share(...) Donec ut imperdiet diam, et convallis neque. Class aptent taciti
                    sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
            </div>

        </div>

        <div class="big-img-frame">
            <div class="big-img-container">
                <img src="../../assets/foreground-elements/ellipse.svg" alt="" class="big-ellips-img">
                <img src="../../assets/my-images/test.png" alt="" class="big-self-img">
            </div>
            <img src="../../assets/background-elements/line2.svg" alt="" class="ellips-decoration">
        </div>

        <div class="background-decoration-img">
            <img src="../../assets/background-elements/blue-shadow-1.svg" alt="" class="blueshadow-img">
            <img src="../../assets/background-elements/green-shadow.svg" alt="" class="greenshadow-img">
        </div>

    </div>

</div>