<div class="skillsframe" id="myskills">

    <div class="skillscontent">

        <div class="skillsymbol-container">

            <div *ngFor="let skill of skills" class="skill">
                <img src="../../assets/icons/{{ skill }}.svg" alt="">
                <p>{{ skill }}</p>
            </div>

        </div>

        <div class="skill-text-container">
            <div class="skill-text-header">
                <h2>My skills</h2>
                <img src="../../assets/background-elements/line3.svg" alt="">
            </div>
            <p>I have grown my frontend developments skills that have
                <br>
                 allowed me to create different real projects.</p>
        </div>

        <img src="../../assets/background-elements/lightblue-shadow-1.svg" alt="" class="skill-shadow" style="display: none;">

    </div>

</div>