.skillsframe {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 1440px !important;
    height: 60vh;
    background-color: #141D2F;
}

.skillscontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    max-width: 1740px;
    width: 100%;
    padding: 37px 100px;
}

.skillsymbol-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 780px;
    gap: 54px 123px;
    z-index: 1;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    gap: 10px;

    img {
        width: 60px;
        height: 60px;
        transition: 150ms;

        &:hover {
            transform: translateY(-20px);
        }

    }

    p {
        white-space: nowrap;
        margin: 0;
        font-size: 16px;
        color: white;
    }

}

.skill-text-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    gap: 34px;

    .skill-text-header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        gap: 42px;

        h2 {
            text-align: right;
            font-size: 90px;
            margin: 0;
            color: white;
        }

        img {
            width: 58px;
        }

    }

    p {
        text-align: right;
        font-size: 16px;
        margin: 0;
        padding-right: 100px;
        color: white;
    }

}

.skill-shadow {
    position: absolute;
    left: 0px;
    top: 25%;
    height: 950px;
}