.skillsframe {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 1440px !important;
    min-height: 60vh;
    background-color: #141D2F;
}

.skillscontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    max-width: 1740px;
    width: 100%;
    padding: 37px 100px;
}

.skillsymbol-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 609px;
    gap: 54px 123px;
    z-index: 1;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60px;
    gap: 10px;

    img {
        width: 60px;
        height: 60px;
        transition: 150ms;

        &:hover {
            transform: translateY(-20px);
        }

    }

    p {
        white-space: nowrap;
        margin: 0;
        font-size: 16px;
        color: white;
    }

}

.skill-text-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    gap: 34px;

    .skill-text-header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        gap: 42px;

        h2 {
            text-align: right;
            font-size: 90px;
            margin: 0;
            color: white;
        }

        img {
            width: 58px;
        }

    }

    p {
        text-align: right;
        font-size: 16px;
        margin: 0;
        padding-right: 100px;
        color: white;
    }

}

.skill-shadow {
    position: absolute;
    left: 0px;
    top: 25%;
    height: 950px;
    filter: blur(46px);
}

@media (max-width: 1400px) {
    .skillsframe {
        height: 100vh;
    }

    .skillscontent {
        flex-direction: column-reverse;
        gap: 60px;
    }

    .skill-text-container {
        top: 0;
    }

    .skillsymbol-container {
        justify-content: center;
        align-self: center;
        margin-top: 200px;
        gap: 22px;
    }

}

@media (max-width:600px) {

    .skillscontent {
        align-items: center;
        justify-content: center;
        padding: 37px 0;
    }

    .skill-text-container {
        align-items: center;
        justify-content: center;
        right: auto;

        .skill-text-header {

            align-items: center;
            justify-content: center;

            h2 {
                text-align: center;
            }

            img {
                display: none;
            }
        }

        p {
            text-align: center;
            width: 320px;
            padding: 0;
        }

    }

}

@media (max-width: 500px) {

    .skillsymbol-container {
        width: 280px;
        margin: 0;
    }

    .skill-text-container {
        position: static;
        gap: 25px;

        .skill-text-header {
            h2 {
                font-size: 45px !important;
            }
        }

        p {
            width: 280px;
        }

    }

    .skill {

        img {
            width: 45px;
            height: 45px;
        }

    }
}