.portfolio-frame {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-height: 1440px;
    height: 100vh;
    background-color: #141D2F;
}

.portfolio-content {
    position: relative;
    max-width: 1920px;
    width: 100%;
}

.portfolio-header {
    display: flex;
    flex-direction: column;
    position: absolute;
    gap: 35px;
    left: 50%;
    transform: translateX(-50%);

    .header-lines {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        img {
            width: 30%;
        }

    }

    h2 {
        text-align: center;
        margin: 0 20px;
        font-size: 90px;
        color: white;
    }

    p {
        text-align: center;
        margin: 0;
        color: white;
    }

}