.portfolio-frame {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-height: 1440px;
    height: 100vh;
    background-color: #141D2F;
}

.portfolio-content {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1920px;
    width: 100%;
    gap: 116px;
    padding: 37px 0;
}

.portfolio-header {
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 100%;

    .header-lines {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        img {
            width: 30%;
        }

    }

    h2 {
        text-align: center;
        margin: 0 20px;
        font-size: 90px;
        color: white;
    }

    p {
        text-align: center;
        margin: 0;
        color: white;
    }

}

.projects-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: 1200px) {
    .header-lines {
        
        img {
            width: 25% !important;
        }

    }
}

@media (max-width: 900px) {

    .header-lines {

        img {
            display: none;
        }

    }

}

@media (max-width: 500px) {

    .portfolio-header {

        p {
            align-self: center;
            width: 280px;
        }

    }

    .portfolio-content {
        gap: 0;
    }
 
    .header-lines {
        
        h2 {
            font-size: 45px;
        }

    }
    
}