.introduction-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    max-height: 1440px;
    background-color: #141D2F;
}

.blue-shadow {
    position: absolute;
    height: 650px;
    left: -350px;
    top: 150px;
}

.green-shadow {
    position: absolute;
    top: 100px;
    right: -350px;
    height: 600px;
    rotate: -27deg;
    filter: blur(32px);
}

.introduction-content {
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow-x: hidden;
}

.name-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    gap: 87px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    h2 {
        width: max-content;
        margin: 0;
        color: white;
    }

}

.name-under-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.talk-button {
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 15px 30px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 23px;
    background: #00BEE8;
    color: white;
    transition: 150ms;

    &:hover {
        scale: 1.2;
        background: #4B47FF;
    }

}

.oblique-text {
    writing-mode: vertical-lr;
    rotate: 180deg;
    font-size: 90px;
}

.sideway-text {
    display: flex;
    flex-direction: column;
}

.name-tag {
    display: flex;
    white-space: nowrap;
    font-size: 128px;
}

.job-tag {
    display: flex;
    flex-direction: row;
    font-size: 64px;
    color: #4B47FF !important;
}

.link-container {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 50px;
    gap: 25px;
    z-index: 1;

    a {
        transition: 150ms;

        &:hover {
            scale: 1.2;
        }

    }

}

.scrolldown-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    rotate: 90deg;
    position: absolute;
    right: 30px;
    bottom: 150px;
    gap: 3px;
    z-index: 1;
    font-size: 23px;
    color: white;
    background-color: transparent;
    transition: 150ms;

    &:hover {
        scale: 1.2;
    }

    img {
        rotate: -90deg;
    }

}

@media (max-width: 1000px) {

    .oblique-text {
        font-size: 32px;
    }

    .name-tag {
        font-size: 45px;
    }

    .job-tag {
        font-size: 29px;
    }

    .scrolldown-button {
        display: none;
    }

    .blue-shadow {
        height: 550px;
        left: -250px;
    }

    .green-shadow {
        height: 500px;
        right: -300px;
    }

}

@media (max-width: 520px) {

    .job-tag {
        flex-direction: column;
        
        div {
            &:nth-child(2) {
                transform: translateX(50%);
            }
        }

    }

    .link-container {
        left: 50%;
        transform: translateX(-50%);

        img {
            display: none;
        }

        a {
            img {
                display: flex;
            }
        }

    }

    .blue-shadow {
        height: 350px;
        left: -150px;
    }

    .green-shadow {
        height: 350px;
        right: -250px;
        top: 150px;
    }

}

@media (max-width: 400px) {

    .name-tag {
        font-size: 40px;
    }

    .job-tag {
        font-size: 25px;
    }
    
}

@media (max-height: 565px) {
    .blue-shadow {
        display: none;
    }

    .green-shadow {
        display: none;
    }
}