<div class="introduction-frame">
    <div class="introduction-content">

        <div class="name-container">
            <div class="name-under-container">
                <h2 class="oblique-text">I am</h2>
                <div class="sideway-text">
                    <h2 class="name-tag">Simon Esders</h2>
                    <h2 class="job-tag">FRONTEND DEVELOPER</h2>
                </div>
            </div>
            <button class="talk-button">Let’s talk!</button>
        </div>

    </div>

    <div class="link-container">
        <img src="../../assets/background-elements/line1.svg" alt="">
        <a href="https://github.com/offSimonEsders"><img src="../../assets/background-elements/github-icon.svg" alt=""></a>
        <a href=""><img src="../../assets/background-elements/email-icon.svg" alt=""></a>
        <a href=""><img src="../../assets/background-elements/linkedin-icon.svg" alt=""></a>
    </div>

    <button class="scrolldown-button">Scroll down <img src="../../assets/background-elements/whitearrow-icon.svg" alt=""></button>

    <img class="blue-shadow" src="../../assets/background-elements/blue-shadow.svg" alt="">
    <div class="green-shadow-container">
        <img class="green-shadow" src="../../assets/background-elements/green-shadow.svg" alt="">
    </div>

</div>