<div class="imprint-frame">

    <app-header></app-header>

    <div class="imprint-content">

        <h2>Impressum</h2>
        <h2 id="m46">Diensteanbieter</h2>
        <p>Simon Esders</p>
        <p>Hünensand 59</p>
        <p>49716 Meppen</p>
        <p>Deutschland, Niedersachsen</p>

        <h2 id="m56">Kontaktmöglichkeiten</h2>E-Mail-Adresse: <p>contact&#64;simon-esders.de</p>

        <h2 id="m172">Social Media und andere Onlinepräsenzen</h2>Dieses Impressum gilt auch für die folgenden
        Social-Media-Präsenzen und Onlineprofile: <p>www.github.com/offSimonEsders</p>
        <p>www.linkedin.com/in/simon-esders-aab3662a3</p>

        <h2 id="m65">Haftungs- und Schutzrechtshinweise</h2>
        <p>Haftungsausschluss: Die Inhalte dieses Onlineangebotes wurden sorgfältig und nach unserem aktuellen
            Kenntnisstand
            erstellt, dienen jedoch nur der Information und entfalten keine rechtlich bindende Wirkung, sofern es sich
            nicht um
            gesetzlich verpflichtende Informationen (z. B. das Impressum, die Datenschutzerklärung, AGB oder
            verpflichtende
            Belehrungen von Verbrauchern) handelt. Wir behalten uns vor, die Inhalte vollständig oder teilweise zu
            ändern oder
            zu löschen, soweit vertragliche Verpflichtungen unberührt bleiben. Alle Angebote sind freibleibend und
            unverbindlich.</p>
        <p>Urheberrechte und Markenrechte: Alle auf dieser Website dargestellten Inhalte, wie Texte, Fotografien,
            Grafiken,
            Marken und Warenzeichen sind durch die jeweiligen Schutzrechte (Urheberrechte, Markenrechte) geschützt. Die
            Verwendung, Vervielfältigung usw. unterliegen unseren Rechten oder den Rechten der jeweiligen Urheber bzw.
            Rechteinhaber.</p>
        <p>Hinweise auf Rechtsverstöße: Sollten Sie innerhalb unseres Internetauftritts Rechtsverstöße bemerken, bitten
            wir Sie
            uns auf diese hinzuweisen. Wir werden rechtswidrige Inhalte und Links nach Kenntnisnahme unverzüglich
            entfernen.</p>

        <p class="seal"><a href="https://datenschutz-generator.de/"
                title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
                rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
                Schwenke</a>
        </p>
    </div>

</div>