<div class="project" *ngFor="let project of projects">
    <div class="img-container">
        <img src="../../assets/projects/{{project['name']}}.png" alt="">
    </div>
    <div class="info-container">
        <div class="text-container">
            <h2>{{project['name']}}</h2>
            <div class="skills">
                {{project['usedskills']}}
            </div>
            <p class="description">{{project['description']}}</p>
        </div>
        <div class="link-container">
            <a href="https://{{project['livelink']}}" target="_blank" class="live-test">Live test</a>
            <a href="" target="_blank" class="git-hub">Github</a>
        </div>
    </div>
</div>