.project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 32px;

    .img-container {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 240px;
        width: 500px;

        img {
            height: 400px;
        }

    }

    .info-container {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        width: 100%;
        gap: 35px;

        .text-container {
            display: flex;
            flex-direction: column;
            gap: 15px;

            h2 {
                margin: 0;
                font-size: 32px;
                color: #4B47FF;
            }
    
            .skills {
                display: flex;
                flex-direction: row;
                font-size: 23px;
                color: #00BEE8;
            }
    
            .description {
                margin: 0;
                font-size: 16px;
                color: white;
            }

        }

        .link-container {
            display: flex;
            flex-direction: row;
            gap: 86px;

            a {
                text-decoration: none;
                display: flex;
                padding: 15px 30px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 10px;
                font-size: 23px;
                color: white;
            }

            .live-test {
                background: #4B47FF;
            }
    
            .git-hub {
                border: 1px solid #00BEE8;
            }

        }

    }

}