.dsgvo-frame {
    background-color: #141D2F;
    min-height: 100vh;
}

.dsgvo-content {
    display: flex;
    flex-direction: column;
    max-width: 1720px;
    padding: 37px 100px;
    color: white;

    h1{
        color: #4B47FF;

        &:nth-child(1) {
            margin-top: 111px;
        }
    }

    a {
        text-decoration: none;
        color: #4B47FF;
    }

}

@media (max-width: 520px) {
    .dsgvo-content {
        padding: 37px 5px;
    }
}